@font-face {
    font-family: 'Shototam';
    src: url(../../../fonts/goosberry_version_02.otf) format('otf');
    font-weight: 400;
}
.photo{

}
img{
    height: 78vh;
}

h1{
    font-family: Shototam;
    font-size: xxx-large;
}
.mainbtnframe{
    display: block;
    width: 30%;
}

.mainbtn{
    width: 50%;
    height: 15%;
    background-color: #C3BAA2;
    color: black;
    font-size: larger;
}

.bodymain{
    display: flex;
    margin: 0 5%;
}

