.window {
	width: 588px;
	padding: 16px 32px;
}

.window-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.window-btns {
	display: flex;
	gap: 8px;
}

.window-btn {
	background-color: white;
	color: var(--color-btn);
	cursor: pointer;
	font-size: 20px;
	width: 136px;
	height: 40px;
	margin-top: 16px;
	margin-bottom: 12px;
	border-radius: 100px;
	border: 2px var(--color-btn) solid;
	transition: background-color 0.2s, color 0.2s;
}

.window-btn:hover {
	background-color: var(--color-btn);
	color: white;
}

.window-card {
	width: 380px;
	border: 1px white solid;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 50px;
	box-shadow: 0 1px 10px rgba(128, 128, 128, 0.3);
	padding: 28px 40px;
	display: flex;
	gap: 14px;
}

.window-card .info {
	width: 200px;
}

.window-card .info .input-name {
	margin-bottom: 10px;
	width: fit-content;
}

.window-card .info .input-name input{
	width: 88px;
	font-size: 30px;
	color: var(--color-heading);
	line-height: 26px;
}

.window-card .info .underscore {
	width: 100%;
	border: .8px black dashed;
}

.window-card .info ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	font-size: 14px;
}

.window-card .info ul li div input {
	width: 48px;
	font-size: 14px;
}

.window-card .info-image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-photo {
	display: flex;
	justify-content: center;
}

.add-photo-inner {
	width: 90%;
}

.add-photo-btn {
	background-color: white;
	color: var(--color-btn);
	cursor: pointer;
	font-size: 10px;
	margin-top: 10px;
	padding: 4px 10px;
	border-radius: 100px;
	border: 2px var(--color-btn) solid;
	transition: background-color 0.2s, color 0.2s;
}

.add-photo-btn:hover {
	background-color: var(--color-btn);
	color: white;
}

.add-text {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.add-text textarea {
	width: 90%;
	height: 160px;
	padding: 10px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 10px;
	resize: none;
}

.save-btn-div {
	display: flex;
	justify-content: center;
}

.save-btn {
	margin: 0 auto;
	background-color: var(--color-btn);
	color: white;
	cursor: pointer;
	border: 2px var(--color-btn) solid;
	font-size: 20px;
	padding: 8px 134px;
	margin-top: 27px;
	margin-bottom: 12px;
	border-radius: 100px;
	box-shadow: 0px 0px 5px var(--color-btn);
	transition: background-color 0.2s, 
		color 0.2s, 
		box-shadow 0.2s;
}

.save-btn:hover {
	background-color: white;
	color: var(--color-btn);
	box-shadow: none;
}