.DefaultDiv{
    background-color: #E8E8E8;
    width: 60%;
    border-top-right-radius: 90px;
    padding-left: 5%;
    padding-right: 20%;
    height: 60vh;

}
.Name{
    color: #73685D;

}
.bodyBublikPage{
    display: flex;
}
.defaultInfo{
    font-size: large;
    margin-bottom: 10%;
}

.someInfoTable{
    width: 100%;
}
tr, td{
    width: 20%;
    text-align: center;
    font-size: x-large;
}
.Info_Item{
    display: inline;
}
.fon{
    display: flex;
    z-index: 2;
    position: absolute;
    margin-left: 52%;
    margin-top: 0;
    width: 50vh;
    height: 86vh;
}
.pet-Buttons{
    margin: 15% 0 0 15%;
    display: flex;
    width: 75%;
    justify-content: space-between;
}


.picture1{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.picture2{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}


.backBut{
    width: 10%;
    height: 6%;
    background-color: #bdbdbd;
    color: black;
    margin-top: 10%;
}

/*div.sim-slider-arrow-left,*/
/*div.sim-slider-arrow-right {*/
/*    width: 22px;*/
/*    height: 40px;*/
/*    position: absolute;*/
/*    cursor: pointer;*/
/*    opacity: 0.6;*/
/*    z-index: 4;*/
/*}*/

/*div.sim-slider-arrow-left {*/
/*    left: 10px;*/
/*    top: 40%;*/
/*    display: block;*/
/*    background: url("sim-arrow-left.png") no-repeat;*/
/*}*/

/*.sim-slider {*/
/*    position: relative;*/
/*}*/

/*.sim-slider-list {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style-type: none;*/
/*    position: relative;*/
/*}*/

/*.sim-slider-element {*/
/*    width: 5%;*/
/*    height: 5%;*/
/*    transition: opacity 1s ease-in;*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    display: block;*/
/*    background-color: purple;*/
/*}*/
