.bubliks{
    background-color: #006064;
    width: 90%;
    height: 90%;
    margin: 10vh;
    padding: 5vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    justify-content: space-between;
    flex-flow: wrap;

}

.findbublik{
    margin: 0;
    width: 10%;
    border-radius: 30px;
    background-color: #E8E8E8;
    color: black;
}
.bodybubliks{
    text-align: center;
}
.urFighter{
    width: 75%;
    margin-right: 5vw;
    border: none;
    background-color: #E8E8E8;
    border-radius: 20px;
    font-size: larger;
    padding-left: 2vh;
}
.findings{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5vh auto;
    /*margin-top: 5vh;*/
}
