@import "tailwindcss";

@theme {
	--color-heading: #73685d;
	--color-headerbg: #e8e8e8;
	--color-btn: #b29b84;
	--color-currentpagebg: #bebbbb;
	--color-pagebg: #d9d9d9;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
