header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    /*padding: 10px 20px 10px 20px;*/
    
}

button{
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.icons{
    display: flex;
    justify-content: space-between;
}
h1{
    color: black;
}
.find{
    width: 50px;
    height: 50px;
}
.logo {
    width: 50px;
    height: 50px;
    cursor: pointer;

}
.projectName{
    margin: 1%;
    font-size: 2em;
    cursor: pointer;
}
nav{
    width: 100vh;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-right: 15% ;

}

.btn {
    border-radius: 30px;
    width: 25%;
    height: 80%;
    margin: 0;
    font-size: 0.8em;
    font-weight: 500;
    border-width: 1px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-left: 5%;

}

.btn:hover{
    background-color: #C3BAA2;
}

